{% include base_path %}
{% assign pagination_lang = page.lang | default: 'en' %}
{% if pagination_lang == 'zh' %}{% assign labels = site.data.i18n.zh %}{% else %}{% assign labels = site.data.i18n.en %}{% endif %}

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ base_path }}{{ page.previous.url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ labels.previous }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ labels.previous }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ base_path }}{{ page.next.url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{{ labels.next }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ labels.next }}</a>
    {% endif %}
  </nav>
{% endif %}
