{% include base_path %}
{% assign share_lang = page.lang | default: 'en' %}
{% if share_lang == 'zh' %}{% assign labels = site.data.i18n.zh %}{% else %}{% assign labels = site.data.i18n.en %}{% endif %}

<section class="page__share">
  <h4 class="page__share-title">{{ labels.share_on }}</h4>

  <a href="https://twitter.com/intent/tweet?text={{ base_path }}{{ page.url }}" class="btn btn--twitter" title="{{ labels.share_on }} X"><i class="fab fa-twitter" aria-hidden="true"></i><span> X</span></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="{{ labels.share_on }} Facebook"><i class="fab fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ labels.share_on }} LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>
</section>
